
html, body {
    position: fixed;
    overflow: hidden;
	top: 0px;
	left: 0px;
    height: 100%;
    width: 100%;
	padding: 0px;
	margin: 0px;
    border: 0px;
	background-color: black;
	
    zoom: 100%;
}

.window {
    position: fixed;
    overflow: hidden;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
	padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: #555;
}

.window-content {
    position: fixed;
    overflow: hidden;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
	padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: #555;	
}