
/* --- mono --- */

@font-face {
	font-family: "AppMono";
    src: url("fonts/ShareTechMono/ShareTechMono.ttf");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
    font-display: auto;
}

/* --- Blender --- */
/*

// blender didnt work that well

@font-face {
    font-family: "AppLight";
    src: url("fonts/Blender/Blender-THIN.ttf");
}

@font-face {
    font-family: "AppRegular";
    src: url("fonts/Blender/Blender-BOOK.ttf");
}

@font-face {
    font-family: "AppSemiBold";
    src: url("fonts/Blender/Blender-BOLD.ttf");
}
*/


/* --- MateriaPro --- */

/*
@font-face {
    font-family: "AppLight";
    src: url("fonts/OpenSans/MateriaPro-Light.ttf");
}

@font-face {
    font-family: "AppRegular";
    src: url("fonts/OpenSans/MateriaPro-Light.ttf");
}

@font-face {
    font-family: "AppSemiBold";
    src: url("fonts/OpenSans/MateriaPro-Regular.ttf");
}
*/

/*--- Univ ---*/

/* --- OpenSans --- */


@font-face {
    font-family: "AppLight";
    src: url("fonts/OpenSans/OpenSans-Light.ttf");
    font-display: auto;
}

@font-face {
    font-family: "AppRegular";
    src: url("fonts/OpenSans/OpenSans-Regular.ttf");
    font-display: auto;
}

@font-face {
    font-family: "AppSemiBold";
    src: url("fonts/OpenSans/OpenSans-Semibold.ttf");
    font-display: auto;
}


/*
@font-face {
    font-family:"AppBold";
    src: url("fonts/OpenSans/OpenSans-Bold.ttf");
}

@font-face {
    font-family:"AppExtraBold";
    src: url("fonts/OpenSans/OpenSans-ExtraBold.ttf");
}
*/


/* --- Montserrat --- */

/*
@font-face {
    font-family:"AppLight";
    src: url("fonts/Montserrat/Montserrat-Thin.otf");
}

@font-face {
    font-family:"AppRegular";
    src: url("fonts/Montserrat/Montserrat-Light.otf");
}

@font-face {
    font-family:"AppSemiBold";
    src: url("fonts/Montserrat/Montserrat-Regular.otf");
}

@font-face {
    font-family:"AppBold";
    src: url("fonts/Montserrat/Montserrat-SemiBold.otf");
}

@font-face {
    font-family:"AppExtraBold";
    src: url("fonts/Montserrat/Montserrat-ExtraBold.otf");
}
*/


