
/* --- ShelfView --- */

.ShelfView {
    /*display: -webkit-box;*/
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;

    width: 78px; /* subtract 2px if there's a 1px border */
    height: calc(100% - 0px); /* subtract 2px if there's a 1px border */
    
	margin: 0;
	padding: 0;
    overflow: hidden;

	background-color: #151515; 

    transition: all .45s ease;
    z-index: 0;    
}

.ShelfScrollView {
    display: inline-block;
    position: relative;
    
    overflow-x: hidden;
    overflow-y: auto;

    /* overflow-scrolling: touch; */ /* is this needed for MS browser? */
    -webkit-overflow-scrolling: touch;
        
    width: calc(100% - 2px);
    height: calc(100% - 112px);
    border: 0px dashed red;
    background-color: transparent;
}

.ShelfScrollView::-webkit-scrollbar { 
    display: none;
}

.ShelfFooterView {
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100px;
    background-color: #111;
    z-index: 10;

    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

/* --- ShelfItemVGroupView --- */

.ShelfItemGroupView {
    display: inline-block;
    overflow: hidden;
    z-index: 0;
    margin: 0;
    padding: 0;
    
    border-bottom: 0px solid rgba(255, 255, 255, 0.1);
}

/* --- ShelfItemView --- */

.ShelfItemView {
	position: relative;
    display: block;
    opacity: 0.8;
    z-index: 0;    
    margin: 0;
    padding: 0;
    overflow: hidden;

    border-bottom: 0px dashed #aaa; 
}

.ShelfItemView:hover {
    opacity: 1;
}

/* --- ShelfIconView --- */

.ShelfIconView {
    border-radius: 5px;
    border: 0px solid #ccc; 
    /* background-color: #555; */
}

.ShelfBadgeView {
	position: absolute;
	top: 10px;
	right: 10px;
	min-width: 10px;
	min-height: 10px;
	
    border-radius: 7px;
	background-color: red;
	color: white;
	font-size: 10px;
	font-family: AppSemiBold;
	padding-left: 4px;
	padding-right: 4px;
	margin: 0px;
	text-align: center;
}

.ShelfMarkerView {
	position: absolute;
	top: 30px;
	right: 1px;
	min-width: 6px;
	min-height: 6px;
    border-radius: 3px;
	
	padding: 0px;
	margin: 0px;
	
	background-color: white;
	opacity: 0;
    transition: opacity 0.5s ease;
}
