.BMPostMessageRowView {
    display: flex;
	flex-direction: row;

	height: auto;

	/*min-height: fit-content;*/
	max-height: auto;

	border-bottom: 1px solid #ddd;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

/* --- columns --- */

.BMPostMessageRowLeftView {
    display: inline-block;
    position: relative;
        
    flex: 1;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;

    min-width: 80px;
    max-width: 80px;

    border: 0px dashed rgba(255, 0, 0, 1);
    background-color: transparent;
    overflow: hidden;
}

.BMPostMessageRowRightView {
    display: inline-block;
    position: relative;
    
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    
    min-width: 100px;

    border: 0px dashed rgba(0, 0, 255, 1);
    margin: 0px;
    background-color: transparent;
}

.BMPostMessageRowMiddleView {
    display: inline-block;
    position: relative;
        
    flex: 1;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;

    min-width: calc(100% - 83px);

    border: 0px dashed rgba(255, 0, 0, 1);
    background-color: transparent;
    overflow: hidden;
}

/* --- avatar -------------------------------- */

.BMPostAvatarView {
	position: absolute;
	top: 8px;
    left: 10px;	
	width: 55px;
	height: 55px;
	
	border-radius: 5px;
	border: 0px solid #eee;
	overflow: hidden;
}

/* --- title -------------------------------- */

.BMPostTitleBarView {
    display: block;
	position: relative;
	font-family: AppSemiBold;
	width: calc(100% - 10px);
	min-height: 20px;
	margin-top: 8px;
	white-space: nowrap;
	border: 0px dashed green;
}

.BMPostTitleBarTextView {
    display: block;
	position: relative;
    float: left;
    color: black;
    border: 0px dashed blue;
}

.BMPostDateView {
    display: block;
	position: relative;
    float: right;
    opacity: 0.33;
	min-width: 20px;
	min-height: 20px;

    border: 0px dashed red;
}

/* --- content -------------------------------- */

.BMPostMessageRowViewContent {
    display: block;
	width: calc(100% - 20px);

	color: rgba(0,0,0, 0.9);
	
	padding-top: 0px;
	padding-bottom: 0px;
	
	padding-left: 0px;
	padding-right: 0px;
	
	margin-bottom: 0px;
	
	word-wrap: normal;
	white-space: normal;
	
    /*font-size: 13px;*/
	/*font-size-adjust: 0.5;*/
	overflow: visible;
	
	border: 0px dashed orange;
}

/* --- bottom bar -------------------------------- */

.BMPostMessageRowViewBottomBar {
    display: inline-block;
    width: calc(100% - 20px); 
    text-align: left;
    height: 20px;
    margin-bottom: 8px;
    vertical-align: top;
    border: 0px dashed #ddd;
}

.BMPostMessageRowViewReplyButton {
    display: inline-block;
    position: relative;
    min-width: 15px;
    min-height: 20px;    
    margin-top: 1px;    
    opacity: 0.5;
    border: 0px solid #aaa;
    vertical-align: top; /* here */
}

.BMPostMessageRowViewRepostButton {
    display: inline-block;
    position: relative;
    min-width: 18px;
    min-height: 20px;    
    opacity: 0.5;
    border: 0px solid #aaa;
    vertical-align: top; /* here */
}

.BMPostMessageRowViewLikeButton {
    display: inline-block;
    position: relative;
    min-width: 13px;
    min-height: 20px;
    margin-top: 3px;    
    opacity: 0.5;
    border: 0px solid #aaa;
    vertical-align: top; /* here */
}

.BMPostMessageRowViewCountView {
    display: inline-block;

    vertical-align: top; /* here */
    
    font-family: AppSemiBold;
    font-size: 14px;

    width: 55px;    
    min-height: 19px;
    padding-left: 6px;
    padding-right: 4px;
    margin: 0px;
    /*
    margin-left: 4px;
    margin-right: 4px;
    */
    opacity: 0.5;
    border: 0px solid #aaa;
}

