

/* --- BMDraftView --- */

.BMDraftView {
    font-family: "OpenSans-Light";
    position: relative;
    overflow-y: auto;
    flex: 1;
    top: 40px;
    width: 100%;
    background-color: white;
}

.BMDraftToAddressView {
    font-family: "OpenSans-Light";
    font-size: 14px;
    position: absolute;
    top: 30px;
    left: 35px;
    width: 90%;

    border: 1px solid #ddd;
}


.BMDraftFromAddressView {
    font-family: "OpenSans-Light";
    font-size: 14px;
    position: absolute;
    top: 30px;
    left: 35px;
    width: 50px;

    border: 1px solid #ddd;
}

.BMDraftSubjectLabelView {
    font-family: "OpenSans-Light";
    font-size: 14px;
    position: absolute;
    top: 30px;
    left: 35px;
    width: 90%;
    border: 1px solid #ddd;
}

.BMDraftSubjectView {
    font-family: "OpenSans-Regular";
    font-size: 14px;

    position: absolute;
    top: 30px;
    left: 35px;
    color: #000;
    width: 90%;
    
    padding-left: 5px;
    padding-right: 5px;
    
    border: 1px solid #ddd;
}

.BMDraftBodyView {
    font-family: "OpenSans-Regular";
    font-size: 14px;
    color: #aaa;

    position: absolute;
    top: 163px;
    left: 0px;
    width: 90%;
    margin-left: 35px;
    margin-right: 35px;
    height: 60%;
    
    text-align: left;
    
    padding-left: 5px;
    padding-right: 5px;
    
    border: 1px solid #ddd;
}

/* --- BMMessageView --- */

.BMMessageView {
    font-family: "OpenSans-Light";
    position: relative;
    overflow-y: auto;
    flex: 1;
    top: 40px;
    width: 100%;
    background-color: white;
    color: #666;
    padding: 50px;
    white-space: pre-wrap;
    text-align: left;
    font-size: 12px;
    font-family: "Courier";
}

/* --- BMPostView --- */

.BMPostView {
    position: relative;
    overflow-y: auto;
    flex: 1;
    top: 40px;
    width: 100%;
    background-color: white;
}

.BMPostStatusView {
    font-family: "OpenSans-Light";

    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    height: 145px;
    width: 100%;
    border-bottom: 1px solid #ccc;
   
    text-align: right;
}

.BMPostPathView {
    font-family: "OpenSans-Regular";
    font-size: 11px;
    color: #bcbcbc;

    position: absolute;
    top: 30px;
    left: 35px;
    
    padding-left: 5px;
    padding-right: 5px;
    
    text-transform: uppercase;
}

.BMPostDateInfoView {
    display: inline-block;    
    padding-right: 5px;
    text-transform: uppercase;
}
    

.BMPostTitleView {
    font-family: "OpenSans-Regular";
    font-size: 24px;

    position: absolute;
    top: 50px;
    left: 35px;
    color: #000;
    
    padding-left: 5px;
    padding-right: 5px;
}


.BMPostPriceContainerView {
    position: absolute;
    top: 83px;
    left: 35px;

    font-family: "OpenSans-Regular";
    font-size: 20px;
    color: #bcbcbc;
}


.BMPostPriceView {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.BMPostPowContainerView {
    font-family: "OpenSans-Regular";
    font-size: 11px;
    color: #bcbcbc;
    
    position: absolute;
    top: 115px;
    left: 35px;
}

.BMPostPowView {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    text-transform: uppercase;
}

.BMPostPowIncrementButtonView {
    color: black;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 3px;
    
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.BMPostPowIncrementButtonView:hover {
    color: black;
}

.BMPostPowDecrementButtonView {
    color: black;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    text-transform: uppercase;
    cursor: pointer;
    
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}


.BMPostPowDecrementButtonView:hover {
    color: black;
}

.BMPostTimestampView {
    position: absolute;
    top: 120px;
    left: 35px;
    
    padding-left: 5px;
    padding-right: 5px;
    text-transform: uppercase;
    
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}


.BMPostDescriptionView {
    font-family: "OpenSans-Regular";
    font-size: 14px;
    color: #aaa;

    position: relative;

    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 35px;
    margin-right: 35px;

    width: 90%;
    height: 30%;
    
    text-align: left;
    
    padding-left: 5px;
    padding-right: 5px;
}

/* --- Button --- */

.BMButtonView {
    font-family: "OpenSans-Regular";
    font-size: 14px;
    color: white;
    background-color: black;
    border-radius: 3px;
    
    position: absolute;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
  
    text-align: center;
    height: 37px;
    width: 160px;
    line-height: 35px;
    
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.BMButtonView:hover {
    background-color: #444;
}

.BMImagesHeader {
    position: relative;
    margin-top: 10px;
    margin-bottom: 0px;

    font-family: "OpenSans-Regular";
    font-size: 11px;
    color: #bbb;
    text-transform: uppercase;
    text-align: center;
}



.ImageWellView {
    position: relative;
    
    background-color: transparent;
    
    margin-top: 8px;
	min-width: 300px;
    width: auto;    
    height: 200px;
    border: 0px solid #eee;
    
    font-family: "OpenSans-Regular";
    font-size: 11px;
    color: #aaa;
    text-transform: uppercase;
    text-align: center;
    
/*
    margin-left: 35px;
    margin-right: 35px;
        
    padding-left: 5px;
    padding-right: 5px;
*/
    
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.ImageView {
    position: relative;
    
    background-color: transparent;
    
    width: 90%;    
    height: 90%;
    border: 0px solid #eee;
    
    font-family: "OpenSans-Regular";
    font-size: 11px;
    color: #aaa;
    text-transform: uppercase;
    text-align: center;
    
    margin-left: 35px;
    margin-right: 35px;
        
    padding-left: 5px;
    padding-right: 5px;
    
    display: flex;
    justify-content: center; 
    align-items: center; 
    transition: all .3s ease-out;
   
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.ImageCloseButton {
    position: absolute;
    bottom: -20px;
    right: 50%;
    
    width: 16px;
    height: 16px;
    border-radius: 8px;
    
    background-color: #ddd;
    color: #fff;
    font-size: 20px;
    line-height: 9px;
    
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.ImageCloseButton:hover {
    background-color: #000;
}
