
.BMPostDraftRowView {
    display: flex;
    flex-direction: column;

	height: auto;
	min-height: fit-content;
    max-height: fit-content;
    
	margin: 0px;
	padding: 0px;
    overflow: hidden;
	border-bottom: 1px solid #ddd;
}


.BMPostDraftRowTopView {
    display: flex;
	flex-direction: row;
	height: auto;
	
	overflow: hidden;
    /*border-bottom: 1px dashed #eee;*/
}

.BMPostDraftRowBottomView {
    display: block;
    height: 35px;
    /*
    border: 1px dashed #eee;
    */
    text-align: right;
}

.BMPostDraftRowLeftView {
    display: block;
    position: relative;
    flex: 1;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;

    float: left;

    min-width: 80px;
    min-height: 100px;

    border: 0px dashed red;
    background-color: transparent;
}

.BMPostDraftRowRightView {
    display: inline-block;
    position: relative;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    
    min-height: 100%;
    width: calc(100% - 108px);
    
    border: 0px dashed blue;
    margin: 0px;
    background-color: transparent;
}

.BMPostDraftRowPlaceHolderView {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    
	padding-top: 8px;	
	padding-left: 8px;	
	
    width: calc(100% - 40px);
    height: calc(100% - 20px);
    color: #aaa;
    background-color: transparent;
    transition: all 0.15s ease;
}

.BMPostDraftRowContentView {
    display: block;
    position: relative;    
    
    width: calc(100% - 40px);
    height: calc(100% - 20px);
	color: black;
	
	padding-top: 8px;
	padding-bottom: 8px;
	
	padding-left: 8px;
	padding-right: 0px;
	
	margin-bottom: 0px;
	
	word-wrap: normal;
	white-space: normal;
	
	/*font-size-adjust: 0.5;*/
	overflow: visible;

    border: 0px dashed #ddd;
}

.BMPostDraftRowCloseButton {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 13px;
    color: #aaa;
    min-width: 11px;
    max-width: 11px;
    min-height: 11px;
    max-height: 11px;
    border: 0px dashed #ddd;
    opacity: 0.4;
}

.BMPostDraftRowCloseButton:hover {
    opacity: 0.7;
}

/*
.BMPostDraftRowToolsView {
    display: block;
    position: relative;    
    
    width: calc(100%);
    height: 20px;
	color: rgba(0,0,0, 0.9);
	
	padding-top: 8px;
	padding-bottom: 8px;
	
	padding-left: 8px;
	padding-right: 8px;
	
	margin-bottom: 0px;
	
	word-wrap: normal;
	white-space: normal;
	
	font-size: 13px; 
	font-size-adjust: 0.5;
	overflow: visible;

    border: 1px dashed blue;
}
*/

.BMPostDraftRowSendButton {
    display: inline-block;
    position: relative;
    
    font-family: AppRegular;
    
    min-height: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 4px;
    margin-top: 2px;
    margin-right: 13px;
    
    
    /*border: 0px solid #ccc;*/
    background-color: #000; 
    color: white;
    
    transition: all 0.15s ease;
}

.BMPostDraftRowSendButton:hover {
    background-color: #555;
}