
.BMPostMessageRowView {
	height: auto;

	min-height: fit-content;
	max-height: auto;

	border-bottom: 1px solid #ddd;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

.BMPostAvatarView {
	position: absolute;
	top: 8px;
    left: 10px;	
	width: 55px;
	height: 55px;

/*
	min-width: 55px;
	max-width: 55px;
	
	min-height: 55px;
	max-height: 55px;
	*/
	background-color: #aaa;;
	border-radius: 5px;
	overflow: hidden;
}

.BMPostMessageRowViewRowViewTitle {
	position: absolute;
	top: 0px;
    left: 0px;

	color: rgba(0,0,0, 0.9);
	
	padding-top: 08px;
	padding-bottom: 8px;
	
	padding-left: 12px;
	padding-right: 12px;
	
	margin-bottom: 0px;
	
	word-wrap: normal;
	white-space: normal;
	
	font-size: 13px; 
	font-size-adjust: 0.5;
	overflow: visible;
}
