

/* --- FieldView --------------------------- */

.BMFieldRowView {
	font-family: AppRegular;
    opacity: 1;
    
    display: block;
    position: relative;

    height: auto;
    min-height: 60px;
    max-height: none;
    
    overflow: visible;

    width: auto;

    transition: background-color .3s ease-out;

    margin: 0px;
    
	text-align: left;

    /*border-bottom: 1px solid #ddd;*/
}

.BooleanView {
    display: block;
    position: relative;
    /*
    top: 50%;
    transform: translateY(-50%);
    */
}

.BMActionNodeView {
    width: 100%;
    min-height: 28px;

    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 0px;
    margin-right: 0px;

    padding-top: 8px;
    padding-bottom: 8px;

    background-color: #888;
    color: #ccc;

    border-style: none;
    border-radius: 5px;
    border-width: 1px;
    border-color:#888;
    
	font-family: AppSemiBold;

    text-align: center;
    vertical-align: center;
    /*line-height: 42px;*/
    /*overflow: hidden;*/
    /*text-transform: uppercase;*/
    transition: all 0.1 ease;
}

.BMActionNodeView:hover {
    color: white;
    background-color: #888;
    transition: opacity background-color 1s ease;
}


/* --------------------------- Key --------------------------- */

.BMFieldKeyView {
	display: inline-block;
    /*position: relative;*/

	overflow: hidden;
	margin-top: 0px; /*15px;*/

    text-align: left;
    white-space: nowrap;
    
	padding-top: 3px;
	padding-bottom: 0px;
    padding-left: 0px;
	padding-right: 5px;
    
	/*font-size: 12px;*/
	
	border: 0px dashed #999;
}

/*
.BMFieldKeyView::after {
    content: ": "
}
*/

/* --------------------------- Value --------------------------- */

.BMFieldValueView {
	display: block;
    /*position: relative;*/

    width: calc(100%);

    margin-top: 3px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 4px;

    text-align: left;
	overflow: hidden;

    white-space: nowrap;
    text-transform: none;	

    /*
    color: #000;
    */
    font-weight: normal;

	/* 
	border-radius: 5px;
	background-color: #aaa;
	margin-left: 40px;
	*/
	padding-left: 7px;
	padding-right: 4px;
	padding-top: 5px;
	padding-bottom: 5px;
	
    border: 1px solid #444;
    color: white;
    background-color: transparent;
    /*border-bottom: 1px solid #555;*/
    border-radius: 5px;
}

.BMFieldValueView br {
    display: none;
}

.BMFieldValueView * {
    display: inline;
    white-space:nowrap;
}

/* --------------------------- TextArea --------------------------- */

.BMTextAreaFieldRowView {
    display: block;
    position: relative;
    width: auto;
	height: 300px;
	margin: 0;
	padding: 0;
	
    /*border-bottom: 1px solid #ddd;*/
    background-color: #fff;
    transition: background-color .3s ease-out;

	overflow-x: hidden;
	overflow-y: scroll;
}

.BMMonoTextAreaFieldValueView {
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
	padding: 20px;
    margin: 0px;
    width: auto;
    min-height: auto;

    word-break: break-all;
   	unicode-bidi: embed;
    white-space: pre-wrap;

    color: black;
    font-weight: normal;
    text-transform: none;
    text-align: left;

    font-family: AppMono, monospace;
    font-weight: lighter;
    background-color: transparent;
    /*border-right: 1px solid #aaa;*/
}

.BMTextAreaFieldValueView {
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
	padding: 0;
    margin: 20px;
    width: auto;
    min-height: auto;

    word-break: break-all;
   	unicode-bidi: embed;
    white-space: pre-wrap;

    color: black;
    font-weight: normal;
    text-transform: none;
    text-align: left;

	/*border: 1px red dashed;*/
}

/* --------------------------- Pointer --------------------------- */

.BMPointerFieldRowView {
	/*border-bottom: 1px solid #ddd; */
	font-family: AppRegular;
}

/* --------------------------- Image --------------------------- */

.BMImageWellFieldView {
    /*background-color: #fff;*/

    opacity: 1;
    
    display: block;
    position: relative;
    width: auto;
    min-height: 250px;
    max-height: 250px;
	padding-bottom: 35px;
    color: #CBCBCB;
    /*border-bottom: 1px solid #ddd;*/
    transition: background-color .3s ease-out;
	text-align:center;
	
	padding-left: 0px;

}

.BMImageWellKeyField {
	position: relative;
	margin-top: 15px;
	margin-bottom: 15px;
	width: auto;
	text-transform: uppercase;
	text-align: left;
	font-size: 12px;
}

.BMImageWellFieldValueView {
    position: relative;
    color: #000;

    width: auto;
    min-height: auto;
    text-align: left;

    position: absolute;
    margin: 35px;
	margin-left: 40px;
    top: 0px;
    left: 0px;
    font-weight: normal;
    text-transform: none;
}

/* --------------------------- Multi --------------------------- */

.BMOptionsNodeRowView {
    /*display: flex;*/
    position: relative;
	overflow: visible;
}

.BMOptionsTableView {
    display: table;
	position: absolute;
	z-index: 1000;
	top: 16px;

	width: auto;
	
    background-color: white;

    text-align: left;
    
	border: solid #ccc 1px;
	border-radius: 4px;	
    transition: opacity 3s ease-out;
	opacity: 0;
	
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
	margin: 0px;
	
	white-space: normal;
	overflow: hidden;
}

.BMOptionsTableRowView {
	display: table-row;
    position: relative;

    width: auto;
    height: auto;
    text-align: left;
    
    color: #000;

    font-weight: normal;
    text-transform: none;

	padding: 3px;
	margin: 0px;

	border: dashed #ccc 0px;
	
	overflow: hidden;
}

.BMOptionsTableColumnView {
    display: table-column;
	float: left; 

	width: 100%;
	height: auto;

	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 3px;
	overflow: hidden;
}

.BMOptionsTableColumnView:hover {
	background-color: black;
	color: white;
}

.BMFieldRowViewErrorView {
    padding-bottom: 0px;
}

.BMFieldRowViewNoteView {
	display: block;
    position: relative;


	overflow: hidden;
	
	width: 100%;
	
    font-weight: normal;
    text-transform: none;

	color: #aaa;
	
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 3px;
    margin-bottom: 3px;

    /*
    border: 1px dashed white;
    */
}
