
/* NOTES: other interesting fonts: Blender, Montserrat, MateriaPro, Univ  */

@font-face {
    font-family: "AppLight";
    src: url("OpenSans/OpenSans-Light.ttf");
    font-display: auto;
}

@font-face {
    font-family: "AppRegular";
    src: url("OpenSans/OpenSans-Regular.ttf");
    font-display: auto;
}

@font-face {
    font-family: "AppSemiBold";
    src: url("OpenSans/OpenSans-Semibold.ttf");
    font-display: auto;
}

@font-face {
    font-family:"AppExtraBold";
    src: url("OpenSans/OpenSans-ExtraBold.ttf");
}

/* --- mono --- */

@font-face {
	font-family: "AppMono";
    src: url("ShareTechMono/ShareTechMono.ttf");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
    font-display: auto;
}

