
.BMChatMessageRowView {
	height: auto;
	min-height: auto;
	max-height: auto;
	border: 0px dashed yellow;
}

.BMChatMessageRowViewTitle {
	top: 0px;
    left: 0px;

	background-color: rgba(255,255,255,0.2);
	
	padding-top: 8px;
	padding-bottom: 8px;
	
	padding-left: 12px;
	padding-right: 12px;
	
	margin-bottom: 10px;
	
	/*border-radius: 8px 8px 8px 8px; // top-left, top-right,  bottom-right, bottom-left */
	word-wrap: normal;
	white-space: normal;
}
